@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--night-blue:  hsl(240, 100%, 6%);
	--morning-sky:  hsl(240, 100%, 13%);
	--space-dark:  hsl(240, 100%, 2%);
}

.night-blue{
	background-color: var(--night-blue);
}
.space-dark{
	background-color: var(--space-dark);
}
.morning-sky{
	background-color: var(--morning-sky);
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	src: url('/Poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Oswald';
	src: url('/Oswald/Oswald-VariableFont_wght.ttf');
}

body {
	background-color: grey;
	color: white;
	font-family: Poppins;
}

.oswald {
	font-family: Oswald;
}

li {
	list-style: circle;
	margin-top: 0.5rem;
}

.sec-container {
	padding: 2rem;
}
.sec-container > * {
	max-width: 1200px;
	margin: 0 auto;
}
